.buttonsContainer {
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.zoomButtons {
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  background-color: cadetblue;
  color: #fff;
  border: none;
  cursor: pointer;
}

.zoomButtons:hover {
  background-color: rgb(29, 189, 192);
}

.zoomButtons:active {
  background-color: rgb(29, 189, 192);
  color: #fff;
  transform: scale(0.9);
}

.rhombus {
  transform: translate(0, 100px) rotate(45deg);
  transform-origin: center;
}
